.article-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 0 7px #ccc;
  padding: 12px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 120px;
  
}

.author-detail {
  text-align: center;
  margin-left: 1em;
}

.text-detail {
  margin: 1em 1em 2em;
  font-style: italic;
  line-height: 2em;
}

.tag-detail {
  margin-left: 1em;
}

.tag-item{
  margin-bottom: 5px;
}



