.Root{
    display: flex;
    align-items: center;
    background-color: #9b59b6;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 1em;
}

.Logo{
    font-family: 'Bangers', cursive;
    margin: 0;
    color: #c2fb15;
    font-size: 32pt;
}

